<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.excaliberani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Make_Requests_Activity" />
        <activity android:name=".profile_activity" />
        <activity android:name=".Main_Menu" />
        <activity android:name=".notificationpage" />
        <activity android:name=".searchbar" />
        <activity android:name=".ew_feed_page" />
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".Registration" />
        <activity android:name=".sendFriendRequest"></activity>
        <activity android:name=".friendRequest" />
        <activity android:name=".accept_req_page" />
        <activity android:name=".Login_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>